.App {
  text-align: center;
  background-color: #fcfcfc;
  height: 100vh;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9f9f9f;
}

.App-link {
  color: #61dafb;
}

